.post-header {
    margin-bottom: $vertical-spacing-unit;
}
.post-list {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        border-bottom: 1px solid $light-gray;
        padding-bottom: $space-3;
        padding-top: $space-3;
    }
}
.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 0;
    // @include media-query($on-laptop) {
    //     font-size: 36px;
    // }
}
.post-content {
    h2 {
        font-size: 42px;
        // @include media-query($on-laptop) {
        //     font-size: 28px;
        // }
    }
    h3 {
        font-size: 30px;
        // @include media-query($on-laptop) {
        //     font-size: 22px;
        // }
    }
    h4 {
        font-size: 20px;
        // @include media-query($on-laptop) {
        //     font-size: 18px;
        // }
    }
}
.post-robot {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-height: 11rem;
  border-radius: 10px;
  overflow: hidden;
  transition: all .3s ease;
  color: $theme-color;

  .post-thumbnail {
    width: 45%;
    max-width: 100%;
    min-height: 11rem;
    background-size: cover;
    background-position: 50% 50%;
  }

  .robot-description {
    padding: 1rem;
    width: 55%;
    .post-date,
    .post-words {
      font-size: 14px;
      text-align: right;
    }
    .post-title {
      margin: 0 0 10px;
      font-size: 30px;
      font-weight: 400;
      a {
        text-decoration: none;
        color: $theme-color;
      }
    }
    p {
      margin-top: 0;
      margin-bottom: 2px;
    }
    .post-snippet {
      margin-top: 0;
      font-size: 14px;
      color: $grey-color;
    }
    .robot-sensors {
      margin-top: 0;
      font-size: 12px;
      color: $grey-color;
    }
  }
}
.post-meta {
    color: $grey-color;
    font-size: $small-font-size;
    margin-bottom: 0px;
}
.post-link {
    display: block;
    font-size: 42px;
}
